body{

    background-color: antiquewhite;
}
#boxes{
display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    background-color: rgb(145, 228, 228);
}
.container-fluid{

    background-color: #f3b8b8 !important;
     
}
 
 
/* Custom CSS for navbar */
#navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #3f51b5; /* Navbar background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Navbar shadow */
}

/* Customize the navbar brand text color */
.navbar-brand {
    color: #fff;
}

/* Customize the navbar links */
.navbar-nav .nav-link {
    color: #fff;
}

/* Add hover effect to navbar links */
.navbar-nav .nav-link:hover {
    color: #ffd700;
}

/* Adjust padding for navbar items */
.navbar-nav .nav-item {
    padding: 0 15px;
}

/* Style for active link */
.navbar-nav .nav-item.active .nav-link {
    color: #ffd700;
    font-weight: bold;
}

/* Style for dropdown menu */
.dropdown-menu {
    background-color: #3f51b5; /* Dropdown background color */
}

/* Customize dropdown item colors */
.dropdown-item {
    color: #fff;
}

/* Add hover effect to dropdown items */
.dropdown-item:hover {
    background-color: #ffd700;
}